type egtouchd, domain;
type egtouchd_exec, exec_type, file_type;

init_daemon_domain(egtouchd)
binder_service(egtouchd)
binder_use(egtouchd)
binder_call(binderservicedomain, egtouchd)

allow egtouchd proc_version:file r_file_perms;
allow egtouchd shell_exec:file rx_file_perms;
allow egtouchd toolbox_exec:file rx_file_perms;
allow egtouchd hidraw_device:chr_file rw_file_perms;
allow egtouchd self:capability { kill dac_override dac_read_search fsetid fowner };
allow egtouchd uhid_device:chr_file rw_file_perms;
allow egtouchd input_device:chr_file { getattr setattr };
allow egtouchd sysfs:dir r_dir_perms;
allow egtouchd toolbox_extend_exec:file rx_file_perms;
allow egtouchd egtouchd_data_file:fifo_file create_file_perms;
allow egtouchd egtouchd_data_file:file create_file_perms;
allow egtouchd device:dir r_dir_perms;
allow egtouchd system_data_file:dir rw_dir_perms;
file_type_auto_trans(egtouchd, system_data_file, egtouchd_data_file)
