# audit2allow output policies for shift4_app_data_file
allow installd shift4_app_data_file:dir { create_dir_perms relabelfrom relabelto };
allow installd shift4_app_data_file:{ file lnk_file } { create_file_perms relabelfrom relabelto };
