type sernd, domain;
type sernd_exec, exec_type, file_type;

init_daemon_domain(sernd)

# read access to sysfs pseudo filesystem
r_dir_file(sernd, sysfs_i2c)

# write to eeprom file
allow sernd sysfs_i2c:file w_file_perms;

# allow socket operations
allow sernd self:tcp_socket create_stream_socket_perms;
allow sernd self:udp_socket create_socket_perms;
allow sernd self:capability { net_admin net_raw };

# allow ioctl request to change ethernet hw mac address
allowxperm sernd self:tcp_socket ioctl SIOCSIFHWADDR;

allow sernd toolbox_exec:file r_file_perms;
allow sernd shell_exec:file rx_file_perms;
