###
### Apps signed with the Shift4 Corporation certificate
###

type shift4_app, domain;
app_domain(shift4_app)

net_domain(shift4_app)

bluetooth_domain(shift4_app)

use_serialnumberservice(shift4_app)
use_cardreader(shift4_app)
