###
### Apps signed with the Shift4 Corporation certificate
###

type shift4_app, domain;
app_domain(shift4_app)

net_domain(shift4_app)

bluetooth_domain(shift4_app)

use_serialnumberservice(shift4_app)
use_cardreader(shift4_app)

allow shift4_app shift4_app_data_file:dir create_dir_perms;
allow shift4_app shift4_app_data_file: { file lnk_file } create_file_perms;
allow shift4_app proc_version:file r_file_perms;

allow shift4_app { accessibility_service
                   activity_service
                   appops_service
                   audio_service
                   autofill_service
                   connectivity_service
                   content_service
                   display_service
                   graphicsstats_service
                   input_method_service
                   input_service
                   jobscheduler_service
                   mount_service
                   notification_service
                   power_service
                   surfaceflinger_service
                   uimode_service
                   usb_service
                   wifi_service }:service_manager find;
