allow shell procrank_exec:file { getattr };
allow shell proc_uid_cputime_showstat:file { getattr read open };
allow shell proc_uid_cputime_removeuid:file { getattr read open };
allow shell unlabeled:lnk_file { read };
allow shell kmsg_device:chr_file { write open };
allow shell logd_exec:file { read getattr open execute execute_no_trans };
allow shell device:dir { read getattr open };
allow shell sernd_exec:file { read getattr open execute execute_no_trans };
allow shell checkfiles_exec:file { read getattr open execute execute_no_trans };
allow shell appdomain:process signal;
dontaudit shell self:capability dac_override;